*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Rubik', sans-serif;
}
.first-section{
    background-image: url(./images/my-bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-bottom: 20px; */
}
.first-flexsd{
    display: none;
}
.nav{
    display: block;
}
.nav{
    padding: 30px;
}
.hotel-oprationd{
    display: none;
}
.hotel-opration{
    display: block;
}
.first-flexs{
    display: flex;
    justify-content: center;
}
.fhfour{
    font-size: 10px;
    color:skyblue;
}
.fhone{
    color:white;
}
.hotel-opration{
    text-align: center;
    padding: 10px;
}
.hotel{
    font-size: 15px;
    color:skyblue;
    margin-bottom: 20px;
}
.explore{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.free-trial{
    color: green;
    margin-bottom: 10px;
}
.four-pms{
    padding: 30px;
    color: white;
}
.software{
    font-size: 18px;
}
.right-top{
    margin-bottom: 15px;
}
.right-down{
    margin-bottom: 15px;
}
.channel{
    font-size: 14px;
}
.summer{
    display: flex;
    padding: 20px;
    gap: 20px;
}
.highest{
    width: 150px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 15px;
}
.advice{
    width: 150px;
}
.right-form{
    background-color: white;
    width: 250px;
    margin:20px 5px 0 30px ;
    padding: 20px 0 20px 0;
    border-radius: 5px;
}
.name{
    font-size: 8px;
    color: rgb(15, 15, 34);
}
input{
    /* width: 300px; */
    height: 30px;
    /* width: 200px; */
    border: 1px solid darkgray;
    margin-bottom: 10px;
    border-radius: 5px;
}
select{
    height: 30px;
    width: 170px;
    border: 1px solid darkgray;
    border-radius: 5px;
}
form{
    padding: 0 20px ;
    /* height: 300px; */
    /* margin-bottom: 20px; */
    /* gap: 50px; */
}
.click{
    font-size: 11px;
    border-radius: 5px;
    color: rgb(15, 15, 34);
}
.formb{
    background-color: green;
    border: 1px solid green;
    height: 30px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.formp{
    text-align: center;
    color: red;
}
.box{
    height: 10px;
    margin-top: 20px;
}
.asst{
    color: red;
    /* height:30px; */
}
.spatwo{
    color: blue;
}
.note-paragraph{
    margin-top: 20px;
    background-color:rgb(247, 232, 215) ;
    line-height: 20px;
}
.Notes{
    font-size: 12px;
    padding: 20px 40px 20px 40px;
    color: rgb(218, 190, 156);
}
.note{
    color: rgb(236, 140, 14);
}
#slider{
    overflow: hidden;
    margin-bottom: 40px;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}
#slider figure img{
    width: 8%;
    float: left;
}
@keyframes slider{
    0% {
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
}
.slid-hthree{
    padding: 30px;
    text-align: center;
    color: rgb(8, 8, 26);
    font-size: 20px;
}
.section-three{
    padding: 30px;
}
.three-htree{
    text-align: center;
    color: rgb(13, 13, 46);
}
.three-htree:hover{
    color: blue;
}
.threep{
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
    color: gray;
}
.three-image{
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.watchbo{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    background-color: grey;
    border: 1px solid grey;
    color: white;
    border-radius: 5px;
}
.watchbt{
    display: block;
    width: 80%;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(72, 72, 235);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(72, 72, 235);
}
.section-three-desktop{
    display: none;
}
.section-three{
    display: block;
}
.four-top{
    background-color: rgb(233, 233, 233);
    padding: 30px;
    text-align: center;
}
.four-hthree{
    font-size: 18px;
    color: rgb(34, 33, 33);
}
.fourp{
    font-size: 12px;
    line-height: 25px;
    margin-top: 20px;
}
.four-bottom{
    background-color: rgba(76, 108, 253, 0.925);
    padding: 30px;
    text-align: center;
}
.four-hthreeb{
    color: rgb(218, 214, 214);
    font-size: 18px;
    line-height: 20px;
}
.four-hthreep{
    font-size: 12px;
    line-height: 25px;
    color: white;
    margin-top: 20px;
}
.button-ff{
    width: 70%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid white;
    margin-top: 30px;
}
.button-fs{
    width: 70%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid yellow;
    margin-top: 30px;
    background-color: yellow;
}
.desktop-phone{
    display: none;
}
.four-bottom{
    display: block;
}
.section-five{
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}
.five-htwo{
    font-size:25px;
    color: rgb(55, 55, 245);
    line-height: 30px;
    margin-bottom: 40px;
}
.five-htre{
    font-size: 18px;
    color: rgb(32, 30, 30);
    margin-bottom: 40px;
}
.fivep{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.five-img{
    width: 100px;
}
.five-button{
    height: 30px;
    width: 250px;
    margin-top: 30px;
    background-color: rgb(21, 21, 216);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(21, 21, 216);
    padding: 10px;
}
.section-six{
    background-color: rgb(233, 233, 233);
}
.six-container{
    text-align: center;
}
.six-image{
    width: 120px;
}
.six-hf{
    font-size: 14px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
    color: rgb(94, 93, 93);
}
.six-htre{
    text-align: center;
    font-size:20px ;
    color: rgb(43, 41, 41);
    margin-bottom: 30px;
}

/*tablet*/
@media screen and (min-width:610px) {
    .first-flexsd{
        display: none;
    }
    .nav{
        display: block;
    }
    .hotel-oprationd{
        display: none;
    }
    .hotel-opration{
        display: block;
    }
    .fhone{
        font-size: 30px;
    }
    .fhfour{
        font-size: 12px;
    }
    .hotel{
        font-size: 20px;
    }
    .explore{
        font-size: 30px;
    }
    .free-trial{
        font-size: 20px;
    }
    .four-pms{
        display: flex;
        text-align: center;
        gap: 30px;
    }
    .right-top{
        margin-bottom: 50px;
    }
    .software{
        font-size: 25px;
    }
    .summer{
       display: grid;
       place-items: center;
       gap: 50px;
       /* justify-content: space-around; */
    }
    .highest{
        width: 200px;
        border-radius: 5px;
        background-color: white;
        margin-bottom: 15px;
    }
    .advice{
        width: 170px;
    }
    .right-form{
        width: 350px;
        margin: auto;
        border-radius: 10px;
        margin-top: 30px;
    }
    input{
        width: 300px;
        height: 35px;
        /* width: 200px; */
        border: 1px solid darkgray;
        margin-bottom: 25px;
        border-radius: 5px;
    }
    .name{
        font-size: 12px;
        color: rgb(15, 15, 34);
    }
    select{
        height: 35px;
        width: 300px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    .click{
        font-size: 14px;
    }
    .box{
        height: 10px;
        margin-bottom: 20px;
    }
    .formb{
        height: 35px;
        width: 300px;
    }
    .slid-hthree{
        font-size: 25px;
    }
    #slider figure{
        position: relative;
        width: 400%;
        margin: 0;
        left: 0;
        animation: 10s slider infinite;
    }
    #slider figure img{
        width: 8%;
        float: left;
    }
    .section-three-desktop{
        display: block;
        padding:40px ;
    }
    .section-three{
        display: none;
    }
    .section-threef{
        display: flex;
    }
    .three-image{
        width: 50px;
        display: block;
        /* margin: 10px; */
    }
    .four-top{
        padding: 50px;
    }
    .four-hthree{
        font-size: 20px;
    }
    .fourp{
        font-size: 14px;
    }
    .four-bottom{
        padding: 50px;
    }
    .four-hthreeb{
        font-size: 20px;
    }
    .four-hthreep{
        font-size: 14px;
    }
    .button-ff{
        width: 50%;
        height: 30px;
        border-radius: 3px;
        border: 1px solid white;
        margin-top: 30px;
    }
    .button-fs{
        width: 50%;
        height: 30px;
        border-radius: 3px;
        border: 1px solid yellow;
        margin-top: 30px;
        background-color: yellow;
    }
    .desktop-phone{
        display: none;
    }
    .four-bottom{
        display: block;
    }
    .section-five{
        padding: 50px;
    }
    .five-htwo{
        font-size:22px;
    }
    .five-img{
        width: 150px;
    }
    .five-button{
        height: 40px;
        width: 300px;
    }
    .five-container{
        background-color:whitesmoke;
        padding: 30px;
        border-radius: 5px;
    }
    .six-image{
        width: 180px;
    }
    .six-htre{
        font-size: 25px;
    }
    .six-hf{
        font-size: 14px;
        width: 350px;
        margin: 0 auto;
        margin-bottom: 50px;
        
    }
    .section-six{
        background-color: rgb(233, 233, 233);
        padding: 20px;
    }


    
}
@media screen and (min-width:1000px) {
    .first-flexsd{
        display: block;
        padding: 30px;
    }
    .nav{
        display: none;
    }
    .hotel-oprationd{
        display: block;
        padding: 30px;
    }
    .hotel-opration{
        display: none;
    }
    .explore{
        width: 450px;
        font-size: 30px;
    }
    .first-container{
        display: flex;
    }
    .summer{
        display: flex;
        flex-direction: row;
    }
    .right-form{
        width: 400px;
    }
    input{
        width: 350px;
        height: 35px;
    }
    select{
        height: 35px;
        width: 350px;
    }
    .formb{
        height: 35px;
        padding: 10px;
        width: 350px;
    }
    .note-paragraph{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    .slid-hthree{
        font-size: 35px;
    }
    #slider figure{
        position: relative;
        width: 200%;
        margin: 0;
        left: 0;
        animation: 10s slider infinite;
        padding: 30px;
    }
    #slider figure img{
        width: 6%;
        float: left;
    }
    .three-container{
        display: flex;
    }
    .three-top{
        margin-bottom: 50px;
    }
    .three-container{
        width: 80%;
        margin: 0 auto;
        gap: 50px;
    }
     .desktop-left{
        width: 50%;
    } 
    .desktop-right{
        width: 50%;
    }
    .portal{
        background-color: whitesmoke;
        margin-bottom: 40px;
        padding: 18px;
        border-radius: 5px;
    }
    .portals{
        background-color: whitesmoke;
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 5px;
    }
    .three-htreed{
        font-size: 30px;
        text-align: center;
        color: rgb(8, 8, 26);
    }
    .threep{
        line-height: 25px;
    }
    .watch-button{
        display: flex;
    }
    .watchbo{
        width: 30%;
        margin: 0 auto;
        margin-right: 50px;
        height: 45px;
    }
    .watchbt{
        width: 30%;
        margin: 0 auto;
        margin-left: 50px;
        height: 50px;
    }
    .four-hthree{
        font-size:35px ;
    }
    .fourp{
        font-size: 20px;
    }
    .desktop-phone{
        display: block;
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin-bottom: 40px;
        background-color: rgba(76, 108, 253, 0.925);
    }
    .four-bottom{
        display: none;
    }
    .phone-container{
        display: flex;
    }
    .bottom-leftf{
        width: 60%;
        padding: 40px;
        
    }
    .bottom-rightf{
        width: 40%;
        /* background-color: tomato; */
        display: flex;
        justify-content: center;
        
    }
    .four-buttonp{
        display: flex;
        gap: 30px;
    }
    .button-ff{
        width: 40%;
        height: 40px;
    }
    .button-fs{
        width: 40%;
        height: 40px;
    }
    .four-hthreeb{
        font-size: 35px;
        line-height: 45px;
    }
    .four-hthreep{
        font-size: 18px;
    }
    .white-phone{
        width: 450px;
    }
    .five-htwo{
        font-size:35px;
    }
    .five-htre{
        font-size: 25px;
    }
    .fivep{
       font-size: 18px; 
    }
    .six-container{
        display: flex;
        justify-content: space-around;
    }
    .six-image{
        width: 130px;
    }
    .six-hf{
        font-size: 14px;
        /* width: 350px; */
        margin: 0 auto;
        margin-bottom: 50px;
        
    }
    
    
    
    
}